.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  justify-content: center;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.label-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.play-config {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

input, button {
  padding: 5px;
}
